pluggy==1.4.0
debugpy==1.8.5
pydantic_core==2.23.4
pexpect==4.9.0
pandas==2.2.3
tornado==6.4.1
decorator==5.1.1
async-timeout==5.0.1
filelock==3.16.1
traitlets==5.14.3
nest_asyncio==1.6.0
narwhals==1.32.0
python-dateutil==2.9.0
kiwisolver==1.4.8
menuinst==2.0.2
multidict==6.1.0
ptyprocess==0.7.0
pillow==11.1.0
jupyter_client==8.6.2
huggingface-hub==0.27.1
ruamel.yaml.clib==0.2.8
plotly==6.0.1
parso==0.8.4
prompt_toolkit==3.0.47
colorama==0.4.6
tokenizers==0.21.0
jsonpointer==2.4
requests==2.32.3
frozenlist==1.5.0
pickleshare==0.7.5
stack-data==0.6.2
libmambapy==1.5.8
fsspec==2024.9.0
torchvision==0.20.1
httpx==0.27.2
six==1.16.0
h11==0.14.0
GitPython==3.1.44
networkx==3.4.2
packaging==24.1
mamba==1.5.8
groq==0.11.0
PySocks==1.7.1
tqdm==4.67.1
protobuf==5.29.3
frozendict==2.4.4
exceptiongroup==1.2.2
jsonpatch==1.33
pydantic==2.9.2
click==8.1.8
pyzmq==26.2.0
appnope==0.1.4
scipy==1.15.1
ruamel.yaml==0.18.6
anyio==4.6.0
conda-libmamba-solver==24.1.0
aiohttp==3.11.11
propcache==0.2.1
Jinja2==3.1.5
asttokens==2.4.1
numpy==2.2.1
multiprocess==0.70.16
psutil==6.0.0
torchaudio==2.5.1
jedi==0.19.1
jupyter_core==5.7.2
xxhash==3.5.0
truststore==0.8.0
regex==2024.11.6
conda==24.7.1
cffi==1.16.0
gitdb==4.0.12
conda_package_streaming==0.9.0
sniffio==1.3.1
setuptools==69.5.1
safetensors==0.5.2
matplotlib==3.10.0
fonttools==4.56.0
mpmath==1.3.0
torch==2.5.1
pytz==2024.2
wandb==0.19.3
sentry-sdk==2.20.0
yarl==1.18.3
wcwidth==0.2.13
charset-normalizer==3.3.2
urllib3==2.2.1
pyarrow==18.1.0
conda-package-handling==2.2.0
pycosat==0.6.6
importlib_metadata==8.4.0
Brotli==1.1.0
certifi==2024.7.4
pycparser==2.22
cycler==0.12.1
dill==0.3.8
wheel==0.43.0
comm==0.2.2
pure_eval==0.2.3
archspec==0.2.3
distro==1.9.0
pyparsing==3.2.1
docker-pycreds==0.4.0
zstandard==0.23.0
contourpy==1.3.1
boltons==24.0.0
sympy==1.13.1
aiosignal==1.3.2
typing_extensions==4.12.2
zipp==3.20.1
PyYAML==6.0.2
attrs==24.3.0
matplotlib-inline==0.1.7
smmap==5.0.2
tzdata==2024.2
tiktoken==0.8.0
aiohappyeyeballs==2.4.4
ipykernel==6.29.5
setproctitle==1.3.4
annotated-types==0.7.0
pip==24.0
platformdirs==4.2.2
idna==3.6
datasets==3.2.0
httpcore==1.0.6
Pygments==2.18.0
executing==2.0.1
ipython==8.26.0
transformers==4.48.0
MarkupSafe==3.0.2
